{
  "parser": "@typescript-eslint/parser",
  "plugins": ["oclif", "prettier", "promise"],
  "extends": ["prettier", "plugin:@typescript-eslint/eslint-recommended"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    // Add your rules here
    "require-await": "error"
  }
}
